parameters:
	ignoreErrors:
		-
			message: '#^Trait molibdenius\\CQRS\\Action\\Actionable is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Action/Actionable.php
